


.inicio{text-align: center;
    color:black;

}

.imagem{

    text-align: center;

}

.imagem2{
    text-align: center;
  }

  .titulo2{

    text-align: center;
  } 

  .subtitulo{
    text-align: center;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
  }


